### Fundamentals of Data Analysis (FoDA) - Project 2020

                                                                          Author: Sheldon D'Souza, email: G00387857@gmit.ie

***

##### Objective

The objective of the project is to perform and explain simple linear regression using Python on the powerproduction dataset given. The goal is to accurately predict wind turbine power output from wind speed values using the data set as a basis.

The git repository will contain, at a minimum, the following items:
1. Jupyter notebook that performs simple linear regression on the data set.
2. In that notebook, an explanation of your regression and an analysis of its accuracy.
3. Standard items in a git repository such as a README.

To enhance the submission, consider comparing simple linear regression to other types of regression on this data set.

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('powerproduction.csv', sep=',')

In [14]:
df.head(10)

   speed  power
0  0.000  0.000
1  0.125  0.000
2  0.150  0.000
3  0.225  0.000
4  0.275  0.000
5  0.325  4.331
6  0.400  5.186
7  0.450  3.826
8  0.501  1.048
9  0.526  5.553

In [16]:
df.tail(20)

      speed    power
480  23.974   94.270
481  24.024  105.992
482  24.049   93.524
483  24.174   95.869
484  24.199  101.419
485  24.249  103.700
486  24.299   93.694
487  24.349   93.078
488  24.374   98.223
489  24.399   95.117
490  24.499    0.000
491  24.525    0.000
492  24.575    0.000
493  24.650    0.000
494  24.750    0.000
495  24.775    0.000
496  24.850    0.000
497  24.875    0.000
498  24.950    0.000
499  25.000    0.000